<div class="flex h-screen">

  <!-- Sidebar -->
  <div 
    [ngClass]="isOpen ? 'w-52' : 'w-12'" 
    class="bg-gradient-to-b from-purple-600 to-indigo-800 text-white p-4 transition-all duration-300">

    <!-- Logo + botão -->
    <div class="flex items-center justify-between mb-6" >
      <img src="ieq.png" class="h-10  cursor-pointer" *ngIf="isOpen" routerLink="/">

      <button (click)="toggleSidebar()" class="text-white text-xl  cursor-pointer">
        ☰
      </button>
    </div>
    
    <!-- Menu -->
    <nav class="flex flex-col gap-3">

      <a routerLink="/membros" class="flex items-center gap-3 hover:bg-white/10 p-2 rounded">
        <i class="fas fa-users"></i>
        <span *ngIf="isOpen">Membros</span>
      </a>

    </nav>

  </div>

  <!-- Conteúdo -->
  <div class="flex-1 p-6 bg-gray-100">
    <router-outlet></router-outlet>
  </div>

</div>